@if (generos && generos.length > 0) {
    <div class="embla mt-1000" emblaCarousel [options]="carouselGenerosOptions">
        <div class="embla__container">
            @for (item of generos; track item.slug) {
                <div class="embla__slide">
                    <div class="genre-card">
                        <img 
                        [src]="item.img" 
                        [alt]="item.nombre"
                        class="genre-image"
                        />
                        <h3 class="genre-name text-center font-bold text-xl">{{ item.nombre }}</h3>
                    </div>
                </div>
            }
        </div>
    </div>
}
@if (conciertos && conciertos.length > 0) {
    <div class="concerts-section">
        <h2 class="concerts-title">Nuestros Conciertos</h2>
        <div class="concerts-subtitle">Descubre los mejores eventos</div>
    </div>
    <div class="embla embla-conciertos" emblaCarousel [options]="carouselConciertosOptions" >
        <div class="embla__container embla__container-conciertos">
            @for (item of conciertos; track item.slug) {
                <div class="embla__slide embla__slide-conciertos">
                    <div class="concert-card">
                        <img 
                        [src]="item.img" 
                        [alt]="item.slug"
                        class="concert-image"
                        />
                        <h3 class="concert-name">{{ item.slug }}</h3>
                    </div>
                </div>
            }
        </div>
    </div>
}
