@if (generos && generos.length > 0) {
    <div class="embla mt-1000" emblaCarousel [options]="carouselGenerosOptions">
        <div class="embla__container">
            @for (item of generos; track item.slug) {
                <div class="embla__slide">
                    <div class="genre-card">
                        <img 
                        [src]="item.img" 
                        [alt]="item.nombre"
                        class="genre-image"
                        />
                        <h3 class="genre-name text-center font-bold text-xl">{{ item.nombre }}</h3>
                    </div>
                </div>
            }
        </div>
    </div>
}
