  <header class="site-header">
    <div class="container">
      <!-- Logo -->
      <a href="#" class="logo">manel</a>

      <!-- Menú central -->
      <nav class="main-nav">
        <ul>
            <li><a href="#" style="text-decoration: underline;">Home</a></li>
        </ul>
      </nav>

      <!-- Botón derecho -->
      <a href="#" class="btn-pill">
        Sign Up<span class="icon">*</span>
        Sign In<span class="icon">*</span>
      </a>
    </div>
  </header>
  <script>
    let lastScrollTop = 0;
const navbar = document.getElementById("navbar");
    window.addEventListener("scroll", function() {
    let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

    if (currentScroll > lastScrollTop) {
        // Scroll hacia abajo -> ocultar navbar
        navbar.classList.add("hide");
    } else {
        // Scroll hacia arriba -> mostrar navbar
        navbar.classList.remove("hide");
    }
    });
  </script>